*{
  margin: 0;
  padding: 0;
  font-family: Arial;

}
header{
  background-image:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(BANNER.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;


}
ul{
  float: right;
  list-style-type: none;
  margin: 25px;
}
ul li{
  display: inline-block;
}
ul li a{
  text-decoration: none;
  color: #fff;
  padding: 5px 20px;
  border: 1px solid #fff;
  transition: 0.6s ease;
  box-shadow: 0 0 10px #fff;

}

ul li a:hover{
  background-color: #fff;
  color: #000;
}
ul li a.active{
  background-color: #fff;
color: #000;

}
.signature img{
  float: left;
  width: 150px;
  height: auto;
  transform: translate(385%,0%);}
.first img{
  float: left;
  width: 300px;
  height: auto;
  transform: translate(0%,50%);}
.sec img{
  float: left;
  width: 400px;
  height: auto;
  transform: translate(10%,50%);}
.thi img{
    float: left;
    width: 245px;
    height: auto;
    transform: translate(30%,50%);}
